<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SmartBot</title>
</head>

<body>

    <div class="h1">
        <h1 id="h1-text">Welcome to the SmartBot: ML Assistant</h1>
    </div>

    <div id="chat-container">
        <div id="chatbox">
            {% for msg in chat_history %}
            <div class="message {% if msg.sender == 'user' %}user-message {% else %}bot-message{% endif %}">
                {{ msg.text | safe}}
            </div>
            {% endfor %}
        </div>
    </div>

    <form method="POST" action="/chat">
        <input type="text" name="message" placeholder="Type here..." required autofocus>
        <button type="submit">Send</button>
    </form>

    <script>
        function scrollToBottom() {
            var chatBox = document.getElementById("chatbox");
            chatBox.scrollTop = chatBox.scrollHeight;
        }
        window.onload = function () {
            scrollToBottom();
        };
        setTimeout(scrollToBottom, 100);

    </script>


</body>

</html>